* {
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

h2 {
    font-size: 150px;
}

.blue {
    color:blue;
}

.red {
    color:red;
}

.orange {
    color:orange;
}

.green {
    color:green;
}

.icon {
    color: grey;
    min-width: 50px;
   
}

.input-field {
    border-radius: 25px;
    border-width: 1px;
    border-color: lightgray;
    height: 50px;
    width: 500px;
}