* {
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

h2 {
    font: 70px arial;
}

a {
    margin: 0px 10px;
    font: 13px arial;
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blue {
    color: rgb(81, 81, 247);
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.input-container {
    display: flex;
    border: 1px solid;
    border-radius: 24px;
    border-color: lightgrey;
    height: 44px;
    width: 450px;
}

.input-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.icon {
    align-items: center;
    padding: 10px;
    margin-top: 3px;
    height: 20px;
    width: 20px;
    color: grey;
    display: inline-block;
    position: relative;
}

.input-field {
    font: 16px arial;
    border: none;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    width: 400px; 
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.under {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.pos_right {
    text-align: right;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.button {
    margin: 0px 15px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    border: none;
}

.button:hover {
    border: 1px solid grey;
}

